@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

.wrapperr{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.container-fluidd {
    width: 92%;
    height: 243px;
    background-image: url(../img/bgg.png);
    background-repeat: no-repeat;
    background-size: cover; 
    justify-content: center;
    align-items: center;
    border-radius: 30px;
}

.search-container {
    position: absolute;
    width: 55%;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0 0 25px rgba(146, 145, 145, 0.25);
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
}
.form-cari{
    display: flex;
}
.btn-cari{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #78787b;
    background: none;
    border: none;
}

.btn-cari span{
    font-size: 20px;
}
.search-input {
    width: 80%;
    padding: 5px;
    border: none;
    border-radius: 10px;
    box-shadow: none;
    outline: none;
}
.search-input:focus {
    background-color: none; 
}

.search-icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.navbar {
    font-family: 'Poppins', sans-serif;
}
.main {
    font-family: 'Poppins', sans-serif;
    padding: 50px;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    text-align: left; 
}
.box {
    width: 30%;
    height: 330px;
    margin: 10px;
    margin-top: 20px;
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 20px;
    text-align: center; 
    display: inline-block;
    cursor: pointer;
}

.box img {
    width: 100%;
    border: 1px solid rgb(240, 240, 240);
    border-radius: 20px;
    margin: auto; 
    object-fit: cover;
    height: 80%; 
}

.box .info {
    padding: 5px 12px;
    display: flex;
    justify-content: space-between;
}
.box .info a{
    color: #1a1a1a;
    text-decoration: none;
}
.box .info .name {
    display: flex;
    gap: 10px;
    align-items: center;
    color: #1a1a1a;
}

.box .info .name img {
   width: 30px;
   height: 30px;
   border-radius: 50%;
}

.box .info .name p {
    font-weight: 500;
    font-size: 15px;
    margin-top: 12px;
    color: #4b4b4e;
}
.like{
    display: flex;
    gap: 10px;
    align-items: center;
}
.like p{    
    margin-top: 10px;
}
.btn-like{
    border: none;
    background-color: transparent;
}
.btn-komen{
    border: none;
    background-color: transparent;
}
.btn-komen a{
    text-decoration: none;
    color: #1a1a1a;
}
.like-count{
    margin-left: -10px;
}
.comment-count{
    margin-left: -10px;
}
.material-symbols-outlined {
    border: none;
    background: none;
}


.modal.fade.show {
    backdrop-filter: blur(2px); 
    background-color: rgba(255, 255, 255, 0.21); 
}
.modal-body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.img-modal{
    height: 450px;
    max-width: 700px;
    border-radius: 20px;
    box-shadow: 0 0 25px rgba(146, 145, 145, 0.25);
}
.infoy{
    width: 730px;
    display: flex;
    justify-content: space-between;
}
.infoy {
    padding: 5px 12px;
    display: flex;
    justify-content: space-between;
}

.infoy .name {
    display: flex;
    gap: 10px;
    align-items: center;
    color: #1a1a1a;
}
.infoy .name img {
   width: 30px;
   height: 30px;
   border-radius: 50%;
}
.infoy .name p {
    font-weight: 500;
    font-size: 15px;
    margin-top: 12px;
    color: #4b4b4e;
}
.infoy .name .textusn span{
    font-weight: 600;
    color: #1a1a1a;
}
.infoy .name .textusn span a{
    font-weight: 600;
    color: #1a1a1a;
    text-decoration: none;
}
.infoy .name .textusn {
    font-weight: 500;
    color: #1a1a1acb;
    max-width: 450px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.infoy .delete-icon{
    display: flex;
    align-items: center;
}
.button{
    margin-top: 40px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    gap: 50px;
    font-size: 13px;
}
.button button{
    border: none;
    background: transparent;
}
.btn-active{
    padding: 5px 10px;
    background-color: #D9D9D9;
    border-radius: 20px;
    cursor: pointer;
}
.user{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.user .div-user {
    margin-top: 10px;
    background-color: #ffffff;
    border: 1px solid #E6E6E6;
    border-radius: 30px;
    width: 95%;
    height: 135px;
    position: relative;
    display: flex;
}

.user .konten {
    left: 0;
    top: 0;
    height: 100%;
    border-radius: 30px 0px 0px 30px;
    width: 8%;
    background-color: #DDEAFF;
}

.user .div-user .img-prof {
    position: absolute;
    top: 49%;
    left: 7%;
    transform: translate(-50%, -50%);
}
.user .info{
    width: 100%;
    padding: 10px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 60px;
}
.user .kanan{
    display: flex;
    gap: 10px;
    align-items: center;
}
.user .kiri p{
    color: #4F4E50;
    font-size: 12px;
}
.user .kanan a{
    color: #1F2837;
}
.user .arrow {
    font-style: italic;
    transform: rotate(-45deg);
    display: inline-block; 
    color: #9AB2DB;
}
.footer{
    font-family: 'Poppins', sans-serif;
    background-color: #ffff;
    border-top: 1px solid #f1f1f1;
    padding: 30px 50px;
}
.footer .atas{
    display: flex;
    justify-content: space-between;
}
.footer .atas .logo-pixsphere{
    width: 140px;
}
.footer .atas .link ul{
    margin-left: -13px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    list-style-type: none;
    color: #2D2C41;
}
.footer .atas .link ul li{
    margin-top: 30px;
    font-size: 13px;
    font-weight: 550;
}
.footer .atas .logo-sosmed{
    margin-top: 20px;
    height: 25px;
}
.footer .bawahh{
    padding: 5px;
    display: flex;
    justify-content: space-between;
}
.footer .bawahh .linkk ul{
    padding: 0;
    margin: 0;
    display: flex;
    gap: 25px;
    list-style-type: none;
    color: #5f5f5f;
}
.footer .bawahh .linkk ul li{
    margin-top: 25px;
    margin-bottom: 5px;
    font-size: 12px;
}

.zoom-effect {
    transition: transform 0.3s ease;
}

.zoom-effect:hover {
    transform: scale(1.05); /* Atur faktor scaling untuk efek zoom */
}
@media screen and (max-width: 978px) {
    .box {
        width: 45%;
    }
}

@media screen and (max-width: 768px) {
    .box {
        width: 100%; 
    }
}



