@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Jost", sans-serif;
}

body {
  background-color: #F3F7FE;
}
nav {
  display: flex;
  justify-content: space-between;
  padding: 0px 50px;
  margin-bottom: 25px;
}

nav a {
  margin-top: 15px;
  text-decoration: none;
  color: 272727;
  width: 120px;
  height: 42px;
  font-weight: 500;
  border-radius: 25px;
  border: 3px solid #9AB2DB;
  display: flex;
  justify-content: center;
  align-items: center;
}
.animasi {
  display: flex;
  justify-content: center;
  gap: 15px;
  font-weight: 600;
  font-size: 45px;
}

.animasi {
  display: flex;
  color: #272240;
  justify-content: center;
  margin-bottom: 5px;
}

.animasi span {
  margin-left: 2px;
  color: #C0D3F7;
}


.anmtxt {
  overflow: hidden;
  white-space: nowrap;
}

.anmtxt:first-of-type {
  animation: showup 7s infinite;
}

.anmtxt:last-of-type {
  width: 0px;
  animation: reveal 7s infinite;
}

.anmtxt:last-of-type span {
  margin-left: 355px;
  animation: slidein 7s infinite;
}

.explore-image{
  padding: 20px 60px;
  margin-top: 100px;
}
.explore-image h2{
  font-size: 37px;
  color: #272240;
}
.explore-image h2 span{
  font-style: italic;
  color: #9AB2DB;
}
.explore-image P{
  width: 400px;
  font-size: 19px;
  margin-top: 20px;
}
.tekss{
  display: flex;
  justify-content: left;
}
.explore-image .image{
  display: flex;
  justify-content: space-between;
}
.explore-image .image img{
  margin-top: 30px;
  width: 330px;
}
.start{
  padding: 20px 60px;
  margin-top: 130px;
}
.start .wrap{
  display: flex;
  justify-content: space-between;
}
.start .wrap .today{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.start .wrap .today h2{
  margin-top: 60px;
  font-size: 38px;
  color: #272240;
}
.start .wrap .today p{
  width: 330px;
  font-size: 19px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.start .wrap .today .hr{
  margin-top: 10px;
  background-color: #C0D3F7;
  width:160px ;
  height: 2px;
}
.start .wrap .today .btn{
  cursor: pointer;
  font-size: 15px;
  background-color: transparent;
  border: 2px solid #9AB2DB;
  border-radius: 20px;
  padding: 8px 10px;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
.start .wrap .today .btn .material-symbols-outlined{
  font-size: 17px;
  color: white;
  padding: 3px;
  background-color:#C0D3F7 ;
  border-radius: 50%;
  transform: rotate(-45deg);
}
.start .wrap .img img{
  width: 400px;
}
.features{
  padding: 20px 60px;
  margin-top: 100px;
}
.features h2{
  width: 300px;
  font-size: 37px;
  color: #272240;
}
.features h2 span{
  font-style: italic;
  color: #9AB2DB;
}
.tekss{
  display: flex;
  justify-content: left;
}
.features .image{
  display: flex;
  justify-content: space-between;
}
.features .image img{
  margin-top: 30px;
  width: 330px;
}
@keyframes showup {
  0% {
    opacity: 0;
  }

  20% {
    opacity: 1;
  }

  80% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes slidein {
  0% {
    margin-left: -800px;
  }

  20% {
    margin-left: -800px;
  }

  35% {
    margin-left: 0px;
  }

  100% {
    margin-left: 0px;
  }
}

@keyframes reveal {
  0% {
    opacity: 0;
    width: 0px;
  }

  20% {
    opacity: 1;
    width: 0px;
  }

  30% {
    width: 355px;
  }

  80% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    width: 355px;
  }
}

.text {
  font-size: 40px;
  display: flex;
  color: #272240;
  justify-content: center;
  margin-bottom: 5px;
}

.text span {
  margin-left: 5px;
  color: #C0D3F7;
}

p {
  display: flex;
  margin-top: 5px;
  color: #272240d3;
  justify-content: center;
}


.slider-container {
  margin-top: 45px;
  width: 100%;
  background-color: #F3F7FE;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider-images {
  display: flex;
  align-items: center;
  gap: 15px;
}

.slider-images img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}

.slider-img {
  width: 80px;
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  transition: 0.7s ease;
}

.slider-images .slider-img:first-child,
.slider-images .slider-img:last-child {
  height: 260px;
}

.slider-images .slider-img:nth-child(2),
.slider-images .slider-img:nth-child(6) {
  height: 310px;
}

.slider-images .slider-img:nth-child(3),
.slider-images .slider-img:nth-child(4),
.slider-images .slider-img:nth-child(5) {
  height: 355px;
}

h1 {
  font-family: "Jost", sans-serif;
  font-size: 40px;
  font-weight: 700;
  text-align: left;
  text-transform: uppercase;
  color: #fff;
  position: absolute;
  top: 50%;
  left: -10%;
  transform: rotate(270deg);
  transition: 0.7s ease;
}

.details {
  position: absolute;
  bottom: 43px;
  left: 43px;
}

.details h2 {
  font-family: "Jost", sans-serif;
  font-size: 26px;
  font-weight: 700;
  text-align: left;
  line-height: 44px;
  text-align: left;
  color: #fff;
  text-transform: uppercase;
  transition: 0.7s ease;
  display: none;
}

.details p {
  font-family: "Jost", sans-serif;
  font-size: 20px;
  font-weight: 700;
  text-align: left;
  line-height: 33px;
  text-align: left;
  color: #fff;
  text-transform: uppercase;
  transition: 0.7s ease;
  display: none;
}

.slider-img.active {
  width: 366px !important;
  height: 415px !important;
}

.slider-img.active h1 {
  display: none;
}

.slider-img.active .details p,
.slider-img.active .details h2 {
  display: block;
}
.footer{
  font-family: 'Poppins', sans-serif;
  background-color: #F3F7FE;
  margin-top: 40px;
  border-top: 1px solid #f1f1f1;
  padding: 30px 50px;
}
.footer .atas{
  display: flex;
  justify-content: space-between;
}
.footer .atas .logo-pixsphere{
  width: 140px;
}
.footer .atas .link ul{
  margin-left: -13px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  list-style-type: none;
  color: #2D2C41;
}
.footer .atas .link ul li{
  margin-top: 30px;
  font-size: 13px;
  font-weight: 550;
}
.footer .atas .logo-sosmed{
  margin-top: 20px;
  height: 25px;
}
.footer .bawahh{
  padding: 5px;
  display: flex;
  justify-content: space-between;
}
.footer .bawahh .linkk ul{
  padding: 0;
  margin: 0;
  display: flex;
  gap: 25px;
  list-style-type: none;
  color: #5f5f5f;
}
.footer .bawahh .linkk ul li{
  margin-top: 25px;
  margin-bottom: 5px;
  font-size: 12px;
}